Package: enigma2-plugin-skins-slyk-onyx-1080
Version: 2.41_20230719
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: Slyk Onyx 1080
Depends: enigma2-plugin-skincomponents-kiddac-shared-skin
Source: https://www.linuxsat-support.com

